<!DOCTYPE html>
<html lang="es">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Estudiante - Mis Reservas</title>
    <link rel="stylesheet" href="{% static 'css/menus.css' %}">
    <link rel="stylesheet" href=" {% static 'css/menus_style.css' %}">
</head>
<body>
    <div class="app-container">
        <!-- SIDEBAR DE ESTUDIANTE -->
        <aside class="sidebar estudiante-sidebar">
            <div class="sidebar-header">
                <div class="user-avatar">
                    <i class="fas fa-user-graduate"></i>
                </div>
                <h3 class="user-name">Juan Pérez</h3>
                <p class="user-role">Estudiante - Ingeniería</p>
                <div class="system-status">
                    <span class="status-dot"></span>
                    <span>Sistema activo</span>
                </div>
            </div>
            
            <nav class="sidebar-nav">
                <div class="nav-section">
                    <h4 class="section-title">Navegación Principal</h4>
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href= "{% url 'est_menu'%}">
                                <span class="nav-icon"><i class="fas fa-home"></i></span>
                                <span class="nav-text">Inicio</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href= "{% url 'catalog'%}">
                                <span class="nav-icon"><i class="fas fa-search"></i></span>
                                <span class="nav-text">Catalogo Digital</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href= "{% url 'prestamos_activos'%}">
                                <span class="nav-icon"><i class="fas fa-book-reader"></i></span>
                                <span class="nav-text">Préstamos Activos</span>
                                
                            </a>
                        </li>
                        
                        <li class="nav-item active">
                            <a href= "{% url 'reserva_activa' %}">
                                <span class="nav-icon"><i class="fas fa-bookmark"></i></span>
                                <span class="nav-text">Mis Reservas</span>
                                
                            </a>
                        </li>
                    </ul>
                </div>
                
               
            </nav>
            
            <div class="sidebar-footer">
                <div class="system-info">
                    <p><i class="fas fa-calendar-alt"></i> 13 Mayo, 2024</p>
                    <p>Biblioteca Central UHO</p>
                </div>
                
                <button class="btn-logout" ><a href = {% url 'logout_view' %}>Cerrar sesion</a>
                    <span class="logout-icon"><i class="fas fa-sign-out-alt"></i></span>
                    
                </button>
            </div>
        </aside>
        
        <!-- CONTENIDO PRINCIPAL -->
        <main class="main-content">
            
            <!-- CONTENIDO PRINCIPAL -->
            <div class="content-card fade-in">
                <h2><i class="fas fa-bookmark icon-primary"></i> Mis Reservas</h2>
                
                
                        
                        <div class="user-details-grid mt-2">
                            
                            {%for reserva in reservas %}
                            
                            <div class="detail-card">
                                <h3><i class="fas fa-book icon-primary"></i>{{reserva.estudiante}}</h3>
                                <p><strong>Titulo:</strong> {{reserva.libro.titulo}}</p>
                                <p><strong>Autor:</strong> {{reserva.libro.autor}}</p>
                                <p><strong>Fecha de reserva:</strong> {{reserva.fecha_solicitud}}</p>
                                <p><strong>Estado:</strong> <span class="estado-badge estado-pendiente">En espera</span></p>
                                <p><strong>Fecha limite:</strong> {{reserva.fecha_expiracion}}</p>
                                <div class="d-flex justify-between mt-2">
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fas fa-times"></i> Cancelar reserva
                                    </button>
                                    
                                </div>
                            </div>
                            {% endfor %}
                          
                        </div>
                    </div>
                    
                    
                    
                    
                    
                </div>
                
                
            </div>
        </main>
    </div>

</body>
</html>