*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.contenedor{
width: 90%;
margin: auto;
}
.navmain{
font-size: 17px;
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
padding: 20px 0;
}
.navbrand{
width: 50px;
}
.navmenu{

}
body{
    background-color: black;
    color: white;
    font-size: 16px;

}
a{
    color: white;
    text-decoration: none;

}
.navmain ul{
    display: flex;
    
}
.navmain ul li{
    padding: 10px;
}
.navmain ul.navmenu{
    flex: 1;
    padding: 10px;
}
.navmain ul li:hover{
    border-bottom: 2px solid white;


}
.cajita{
    margin-left: 400px;
    background-color: rgb(46, 167, 86);
    width: 400px;
    height: 400px;

}
.letra{
    color: black;
    margin-left: 100px;

}
.chec{
    display: flex;
    margin-left: 100px;
}
.cajadetexto{
    margin-left: 100px;
}
.sub{
    width: 100px;
    height: 100px;
    margin-left: 150px;
}